{:lint-as
 {blaze.anomaly/when-ok clojure.core/let
  blaze.test-util/with-system clojure.core/with-open
  clojure.test.check.properties/for-all clojure.core/let
  prometheus.alpha/defcounter clojure.core/def
  prometheus.alpha/defhistogram clojure.core/def}

 :linters
 {:unsorted-required-namespaces
  {:level :error}

  :single-key-in
  {:level :warning}

  :reduce-without-init
  {:level :warning}}

 :skip-comments true}
