services:
  blaze:
    image: "blaze:latest"
    environment:
      JAVA_TOOL_OPTIONS: "-Xmx2g"
      ALLOW_MULTIPLE_DELETE: "true"
      ENABLE_INTERACTION_DELETE_HISTORY: "${ENABLE_INTERACTION_DELETE_HISTORY:-false}"
      ENABLE_OPERATION_PATIENT_PURGE: "${ENABLE_OPERATION_PATIENT_PURGE:-false}"
      ENABLE_OPERATION_GRAPH: "${ENABLE_OPERATION_GRAPH:-false}"
      ENABLE_OPERATION_CQL: "${ENABLE_OPERATION_CQL:-false}"
    ports:
    - "8080:8080"
    - "8081:8081"
    volumes:
    - "blaze-data:/app/data"
    healthcheck:
      test: [ "CMD", "wget", "--spider", "http://localhost:8080/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

volumes:
  blaze-data:
