{:paths ["src" "java" "target/classes"]
 :deps
 {}

 :aliases
 {:test
  {:extra-paths ["test"]

   :extra-deps
   {com.clojure-goes-fast/clj-java-decompiler
    {:mvn/version "0.3.0"}

    lambdaisland/kaocha
    {:mvn/version "1.0.887"}}

   :main-opts ["-m" "kaocha.runner"]}

  :test-coverage
  {:extra-paths ["test"]

   :extra-deps
   {cloverage/cloverage
    {:mvn/version "1.2.2"}}

   :main-opts ["-m" "cloverage.coverage" "--codecov" "-p" "src" "-s" "test"]}

  :build
  {:deps
   {io.github.clojure/tools.build
    {:git/tag "v0.4.0" :git/sha "801a22f"}}

   :ns-default build}}}
