{:paths ["src" "resources" "java" "target/classes"]

 :deps/prep-lib
 {:alias :build
  :fn compile
  :ensure "target/classes"}

 :aliases
 {:build
  {:deps
   {io.github.clojure/tools.build
    {:git/tag "v0.10.12" :git/sha "97c5562"}}
   :ns-default build}

  :test
  {:extra-paths ["test"]

   :extra-deps
   {blaze/test-util
    {:local/root "../test-util"}}}

  :kaocha
  {:extra-deps
   {lambdaisland/kaocha
    {:mvn/version "1.91.1392"}}

   :main-opts ["-m" "kaocha.runner"]}

  :coverage
  {:extra-deps
   {lambdaisland/kaocha-cloverage
    {:mvn/version "1.1.89"}}

   :main-opts ["-m" "kaocha.runner" "--profile" "coverage"]}}}
