{:deps
 {}

 :aliases
 {:test
  {:extra-paths ["test"]}

  :kaocha
  {:extra-deps
   {lambdaisland/kaocha
    {:mvn/version "1.69.1069"}}

   :main-opts ["-m" "kaocha.runner"]}

  :coverage
  {:extra-deps
   {cloverage/cloverage
    {:mvn/version "1.2.4"}}

   :main-opts ["-m" "cloverage.coverage" "--codecov" "-p" "src" "-s" "test"
               "-e" ".+spec"]}}}
