{:paths ["src" "resources"]

 :deps
 {blaze/anomaly
  {:local/root "../anomaly"}

  blaze/executor
  {:local/root "../executor"}

  com.taoensso/timbre
  {:mvn/version "6.5.0"}}

 :aliases
 {:test
  {:extra-paths ["test"]

   :extra-deps
   {blaze/test-util
    {:local/root "../test-util"}}}

  :kaocha
  {:extra-deps
   {lambdaisland/kaocha
    {:mvn/version "1.89.1380"}}

   :main-opts ["-m" "kaocha.runner"]}

  :coverage
  {:extra-deps
   {cloverage/cloverage
    {:mvn/version "1.2.4"}}

   :main-opts ["-m" "cloverage.coverage" "--codecov" "-p" "src" "-s" "test"]}}}
