{:deps
 {blaze/async
  {:local/root "../async"}

  blaze/module-base
  {:local/root "../module-base"}

  org.eclipse.jetty/jetty-server
  {:mvn/version "9.4.48.v20220622"}

  ring/ring-jetty-adapter
  {:mvn/version "1.9.5"
   :exclusions
   [clj-time/clj-time
    commons-fileupload/commons-fileupload
    crypto-equality/crypto-equality
    crypto-random/crypto-random]}}

 :aliases
 {:test
  {:extra-paths ["test"]

   :extra-deps
   {blaze/test-util
    {:local/root "../test-util"}

    hato/hato
    {:mvn/version "0.8.2"}}}

  :kaocha
  {:extra-deps
   {lambdaisland/kaocha
    {:mvn/version "1.68.1059"}}

   :main-opts ["-m" "kaocha.runner"]}

  :coverage
  {:extra-deps
   {cloverage/cloverage
    {:mvn/version "1.2.4"}}

   :main-opts ["-m" "cloverage.coverage" "--codecov" "-p" "src" "-s" "test"
               "-e" ".*spec$"]}}}
