{:deps
 {blaze/async
  {:local/root "../async"}

  blaze/module-base
  {:local/root "../module-base"}

  ring/ring-core
  {:mvn/version "1.12.2"
   :exclusions
   [org.apache.commons/commons-fileupload2-core
    crypto-equality/crypto-equality
    crypto-random/crypto-random]}

  info.sunng/ring-jetty9-adapter
  {:mvn/version "0.34.0"}}

 :aliases
 {:test
  {:extra-paths ["test"]

   :extra-deps
   {blaze/module-test-util
    {:local/root "../module-test-util"}

    hato/hato
    {:mvn/version "1.0.0"}}}

  :kaocha
  {:extra-deps
   {lambdaisland/kaocha
    {:mvn/version "1.91.1392"}}

   :main-opts ["-m" "kaocha.runner"]}

  :coverage
  {:extra-deps
   {lambdaisland/kaocha-cloverage
    {:mvn/version "1.1.89"}}

   :main-opts ["-m" "kaocha.runner" "--profile" "coverage"]}}}
