{:config-paths
 ["../../../.clj-kondo/root"
  "../../module-base/resources/clj-kondo.exports/prom-metrics/prom-metrics"
  "../../module-test-util/resources/clj-kondo.exports/blaze/module-test-util"]}
