{:deps
 {blaze/db
  {:local/root "../db"}

  blaze/fhir-structure
  {:local/root "../fhir-structure"}

  blaze/module-base
  {:local/root "../module-base"}

  org.apache.httpcomponents/httpcore
  {:mvn/version "4.4.12"}

  metosin/reitit-ring
  {:mvn/version "0.3.10"
   :exclusions [ring/ring-core]}

  ring/ring-core
  {:mvn/version "1.8.0"
   :exclusions
   [clj-time/clj-time
    commons-fileupload/commons-fileupload
    crypto-equality/crypto-equality
    crypto-random/crypto-random]}}

 :aliases
 {:test
  {:extra-paths ["test"]

   :extra-deps
   {blaze/db-stub
    {:local/root "../db-stub"}

    lambdaisland/kaocha
    {:mvn/version "0.0-590"}

    org.clojars.akiel/iota
    {:mvn/version "0.1"}

    org.clojure/test.check
    {:mvn/version "0.10.0"}}

   :main-opts
   ["-m" "kaocha.runner"]}

  :clj-kondo
  {:extra-deps
   {clj-kondo
    {:mvn/version "2020.05.09"}}

   :main-opts ["-m" "clj-kondo.main"]}}}
