{:deps
 {blaze/async
  {:local/root "../async"}

  blaze/db
  {:local/root "../db"}

  blaze/fhir-structure
  {:local/root "../fhir-structure"}

  blaze/page-id-cipher
  {:local/root "../page-id-cipher"}

  buddy/buddy-core
  {:mvn/version "1.12.0-430"}

  ;; newer version for cheshire dependency
  com.fasterxml.jackson.dataformat/jackson-dataformat-smile
  {:mvn/version "2.19.2"}

  org.apache.httpcomponents.core5/httpcore5
  {:mvn/version "5.3.4"}

  metosin/reitit-ring
  {:mvn/version "0.9.1"
   :exclusions [ring/ring-core]}

  metosin/muuntaja
  {:mvn/version "0.6.11"
   :exclusions [javax.xml.bind/jaxb-api]}

  ring/ring-core
  {:mvn/version "1.14.2"
   :exclusions
   [org.apache.commons/commons-fileupload2-core
    crypto-equality/crypto-equality
    crypto-random/crypto-random]}}

 :aliases
 {:test
  {:extra-paths ["test"]

   :extra-deps
   {blaze/db-stub
    {:local/root "../db-stub"}}}

  :kaocha
  {:extra-deps
   {lambdaisland/kaocha
    {:mvn/version "1.91.1392"}}

   :main-opts ["-m" "kaocha.runner"]}

  :coverage
  {:extra-deps
   {lambdaisland/kaocha-cloverage
    {:mvn/version "1.1.89"}}

   :main-opts ["-m" "kaocha.runner" "--profile" "coverage"]}}}
