{:paths ["src" "resources"]

 :deps
 {blaze/async
  {:local/root "../async"}

  blaze/cql
  {:local/root "../cql"}

  blaze/interaction
  {:local/root "../interaction"}

  blaze/job-scheduler
  {:local/root "../job-scheduler"}

  blaze/job-async-interaction
  {:local/root "../job-async-interaction"}

  blaze/job-compact
  {:local/root "../job-compact"}

  blaze/job-re-index
  {:local/root "../job-re-index"}

  blaze/module-base
  {:local/root "../module-base"}

  blaze/rest-util
  {:local/root "../rest-util"}

  blaze/rocksdb
  {:local/root "../rocksdb"}

  blaze/spec
  {:local/root "../spec"}

  fi.metosin/reitit-openapi
  {:mvn/version "0.10.0"
   :exclusions [javax.xml.bind/jaxb-api]}

  ca.uhn.hapi.fhir/hapi-fhir-validation
  {:mvn/version "8.8.0"
   :exclusions
   [com.nimbusds/nimbus-jose-jwt
    commons-beanutils/commons-beanutils
    info.cqframework/cql
    info.cqframework/qdm
    info.cqframework/quick
    info.cqframework/cql-to-elm
    info.cqframework/elm
    info.cqframework/model
    io.opentelemetry.instrumentation/opentelemetry-instrumentation-annotations
    net.sf.saxon/Saxon-HE
    net.sourceforge.plantuml/plantuml-mit
    org.ogce/xpp3
    ognl/ognl
    org.attoparser/attoparser
    org.unbescape/unbescape
    org.xerial/sqlite-jdbc
    org.apache.commons/commons-collections4
    org.apache.httpcomponents/httpclient
    com.google.errorprone/error_prone_annotations
    org.apache.santuario/xmlsec
    org.commonmark/commonmark
    org.commonmark/commonmark-ext-gfm-tables]}

  ca.uhn.hapi.fhir/hapi-fhir-structures-r4
  {:mvn/version "8.8.0"
   :exclusions
   [com.google.code.findbugs/jsr305
    commons-net/commons-net
    io.opentelemetry.instrumentation/opentelemetry-instrumentation-annotations
    ;; Remove after https://github.com/hapifhir/hapi-fhir/issues/7005 is fixed
    org.apache.jena/jena-shex
    net.sf.saxon/Saxon-HE]}

  ca.uhn.hapi.fhir/hapi-fhir-validation-resources-r4
  {:mvn/version "8.8.0"
   :exclusions
   [com.google.code.findbugs/jsr305
    io.opentelemetry/opentelemetry-api
    io.opentelemetry.instrumentation/opentelemetry-instrumentation-annotations
    org.slf4j/jcl-over-slf4j]}

  ca.uhn.hapi.fhir/hapi-fhir-caching-caffeine
  {:mvn/version "8.8.0"
   :exclusions
   [io.opentelemetry.instrumentation/opentelemetry-instrumentation-annotations]}

  com.fasterxml.jackson.datatype/jackson-datatype-jsr310
  {:mvn/version "2.21.0"}

  org.fhir/ucum
  {:mvn/version "1.0.10"
   :exclusions [xpp3/xpp3 xpp3/xpp3_xpath]}

  ;; this dependency is only here because otherwise it gets loaded concurrently
  ;; which breaks caching
  prom-metrics/prom-metrics
  {:git/url "https://github.com/alexanderkiel/prom-metrics.git"
   :git/tag "v0.6-alpha.8"
   :git/sha "45bc7368b9f6045719bc8b63ebfc82f955469da3"}}

 :aliases
 {:test
  {:extra-paths ["test"]

   :extra-deps
   {blaze/db-stub
    {:local/root "../db-stub"}}}

  :kaocha
  {:extra-deps
   {lambdaisland/kaocha
    {:mvn/version "1.91.1392"}}

   :main-opts ["-m" "kaocha.runner"]}

  :coverage
  {:extra-deps
   {lambdaisland/kaocha-cloverage
    {:mvn/version "1.1.89"}}

   :main-opts ["-m" "kaocha.runner" "--profile" "coverage"]}}}
