{:paths ["src" "resources"]

 :deps
 {blaze/async
  {:local/root "../async"}

  blaze/cql
  {:local/root "../cql"}

  blaze/interaction
  {:local/root "../interaction"}

  blaze/job-scheduler
  {:local/root "../job-scheduler"}

  blaze/job-async-interaction
  {:local/root "../job-async-interaction"}

  blaze/job-compact
  {:local/root "../job-compact"}

  blaze/job-re-index
  {:local/root "../job-re-index"}

  blaze/module-base
  {:local/root "../module-base"}

  blaze/rest-util
  {:local/root "../rest-util"}

  blaze/rocksdb
  {:local/root "../rocksdb"}

  blaze/spec
  {:local/root "../spec"}

  blaze/validator
  {:local/root "../validator"}

  fi.metosin/reitit-openapi
  {:mvn/version "0.9.1"
   :exclusions [javax.xml.bind/jaxb-api]}

  com.fasterxml.jackson.datatype/jackson-datatype-jsr310
  {:mvn/version "2.20.0"}

  org.fhir/ucum
  {:mvn/version "1.0.10"
   :exclusions [xpp3/xpp3 xpp3/xpp3_xpath]}

  ;; this dependency is only here because otherwise it gets loaded concurrently
  ;; which breaks caching
  prom-metrics/prom-metrics
  {:git/url "https://github.com/alexanderkiel/prom-metrics.git"
   :git/tag "v0.6-alpha.8"
   :git/sha "45bc7368b9f6045719bc8b63ebfc82f955469da3"}}

 :aliases
 {:test
  {:extra-paths ["test"]

   :extra-deps
   {blaze/db-stub
    {:local/root "../db-stub"}}}

  :kaocha
  {:extra-deps
   {lambdaisland/kaocha
    {:mvn/version "1.91.1392"}}

   :main-opts ["-m" "kaocha.runner"]}

  :coverage
  {:extra-deps
   {lambdaisland/kaocha-cloverage
    {:mvn/version "1.1.89"}}

   :main-opts ["-m" "kaocha.runner" "--profile" "coverage"]}}}
