{:paths ["src" "resources"]

 :deps
 {blaze/async
  {:local/root "../async"}

  blaze/interaction
  {:local/root "../interaction"}

  blaze/job-scheduler
  {:local/root "../job-scheduler"}

  blaze/job-re-index
  {:local/root "../job-re-index"}

  blaze/luid
  {:local/root "../luid"}

  blaze/module-base
  {:local/root "../module-base"}

  blaze/rest-util
  {:local/root "../rest-util"}

  blaze/rocksdb
  {:local/root "../rocksdb"}

  blaze/spec
  {:local/root "../spec"}

  fi.metosin/reitit-openapi
  {:mvn/version "0.7.0"
   :exclusions [javax.xml.bind/jaxb-api]}

  ca.uhn.hapi.fhir/hapi-fhir-validation
  {:mvn/version "7.2.0"
   :exclusions
   [net.sf.saxon/Saxon-HE
    org.ogce/xpp3
    ognl/ognl
    org.attoparser/attoparser
    org.unbescape/unbescape
    org.xerial/sqlite-jdbc
    commons-beanutils/commons-beanutils
    org.apache.httpcomponents/httpclient]}

  ;; CVE-2024-26308, we need at least 1.26.0
  org.apache.commons/commons-compress
  {:mvn/version "1.26.1"}

  ca.uhn.hapi.fhir/hapi-fhir-structures-r4
  {:mvn/version "7.0.2"
   :exclusions [com.google.code.findbugs/jsr305]}

  ca.uhn.hapi.fhir/hapi-fhir-validation-resources-r4
  {:mvn/version "7.2.0"}

  ca.uhn.hapi.fhir/hapi-fhir-caching-caffeine
  {:mvn/version "7.2.0"}

  org.fhir/ucum
  {:mvn/version "1.0.8"
   :exclusions [xpp3/xpp3 xpp3/xpp3_xpath]}

  com.fasterxml.jackson.datatype/jackson-datatype-jsr310
  {:mvn/version "2.17.1"}}

 :aliases
 {:test
  {:extra-paths ["test"]

   :extra-deps
   {blaze/db-stub
    {:local/root "../db-stub"}}}

  :kaocha
  {:extra-deps
   {lambdaisland/kaocha
    {:mvn/version "1.90.1383"}}

   :main-opts ["-m" "kaocha.runner"]}

  :coverage
  {:extra-deps
   {cloverage/cloverage
    {:mvn/version "1.2.4"}}

   :main-opts ["-m" "cloverage.coverage" "--codecov" "-p" "src" "-s" "test"
               "-e" ".+spec"]}}}
