{:lint-as
 {prometheus.alpha/defcounter clojure.core/def
  prometheus.alpha/defhistogram clojure.core/def
  blaze.anomaly/when-ok clojure.core/let
  blaze.anomaly/if-ok clojure.core/if-let}

 :linters
 {:unsorted-required-namespaces
  {:level :error}
  :single-key-in
  {:level :warning}}

 :skip-comments true}
