{:deps
 {blaze/fhir-client
  {:local/root "../fhir-client"}

  jepsen/jepsen
  {:mvn/version "0.3.5"}}

 :aliases
 {:test
  {:extra-paths ["test"]

   :extra-deps
   {blaze/test-util
    {:local/root "../test-util"}}}

  :kaocha
  {:extra-deps
   {lambdaisland/kaocha
    {:mvn/version "1.88.1376"}}

   :main-opts ["-m" "kaocha.runner"]}

  :register
  {:main-opts ["-m" "blaze.jepsen.register"]}}}
