{:deps
 {blaze/fhir-client
  {:local/root "../fhir-client"}

  jepsen/jepsen
  {:mvn/version "0.2.6"}}

 :aliases
 {:test
  {:extra-paths ["test"]

   :extra-deps
   {lambdaisland/kaocha
    {:mvn/version "1.60.977"}}

   :main-opts ["-m" "kaocha.runner"]}

  :register
  {:main-opts ["-m" "blaze.jepsen.register"]}}}
