{:lint-as
 {prometheus.alpha/defcounter clojure.core/def}

 :linters
 {:unsorted-required-namespaces
  {:level :error}

  :single-key-in
  {:level :warning}

  :keyword-binding
  {:level :error}

  :reduce-without-init
  {:level :warning}

  :warn-on-reflection
  {:level :warning :warn-only-on-interop true}

  :consistent-alias
  {:aliases
   {blaze.util u
    clojure.spec.alpha s}}}

 :skip-comments true}
