{:extra-indents
 {given-failed-future [[:block 1]]
  given-failed-system [[:block 1]]
  given-type-query [[:block 3]]
  given-thrown [[:block 1]]
  given [[:block 1]]
  given-translation [[:block 0]]
  if-ok [[:block 1]]
  try-one [[:block 2]]
  when-ok [[:block 1]]
  with-open-coll [[:block 1]]
  do-sync [[:block 1]]
  do-async [[:block 1]]
  has-form [[:block 1]]
  testing-optimize [[:block 1]]
  reg-collector [[:block 1]]
  deftests [[:block 1]]
  satisfies-prop [[:block 1]]
  clojure.test.check.properties/for-all [[:block 1]]
  blaze.metrics.core/collector [[:block 0]]
  reify-expr [[:inner 0] [:inner 1]]
  code-system-validate-code [[:block 1]]
  expand-value-set [[:block 1]]
  value-set-validate-code [[:block 1]]
  given-parse-json [[:block 1]]
  cond-next-token [[:block 2]]
  forv [[:block 1]]}}
