{:paths ["src" "resources"]

 :deps
 {aleph
  {:mvn/version "0.4.7-alpha1"
   :exclusions
   [io.netty/netty-codec
    io.netty/netty-resolver
    io.netty/netty-handler
    io.netty/netty-transport
    io.netty/netty-transport-native-epoll]}

  blaze/interaction
  {:local/root "modules/interaction"}

  blaze.operation/measure-evaluate-measure
  {:local/root "modules/operations/measure-evaluate-measure"}

  blaze/openid-auth
  {:local/root "modules/openid-auth"}

  blaze/rest-api
  {:local/root "modules/rest-api"}

  blaze/rocksdb
  {:local/root "modules/rocksdb"}

  blaze/structure-definition
  {:local/root "modules/structure-definition"}

  blaze/thread-pool-executor-collector
  {:local/root "modules/thread-pool-executor-collector"}

  io.netty/netty-codec-http
  {:mvn/version "4.1.49.Final"}

  io.netty/netty-handler-proxy
  {:mvn/version "4.1.49.Final"}

  io.netty/netty-resolver-dns
  {:mvn/version "4.1.49.Final"}

  io.netty/netty-transport-native-epoll$linux-x86_64
  {:mvn/version "4.1.49.Final"}

  io.prometheus/simpleclient_hotspot
  {:mvn/version "0.8.0"}

  org.clojars.akiel/spec-coerce
  {:mvn/version "0.4.0"}

  org.clojure/clojure
  {:mvn/version "1.10.1"}

  org.clojure/tools.reader
  {:mvn/version "1.3.2"}}

 :aliases
 {:depstar
  {:extra-deps
   {seancorfield/depstar
    {:mvn/version "1.0.94"}}}

  :check
  {:extra-deps
   {athos/clj-check
    {:git/url "https://github.com/athos/clj-check.git"
     :sha "b48d4e7000586529f81c1e29069b503b57259514"}}
   :main-opts
   ["-m" "clj-check.check"]}

  :test
  {:extra-paths ["dev" "test"]

   :extra-deps
   {criterium
    {:mvn/version "0.4.5"}

    lambdaisland/kaocha
    {:mvn/version "0.0-590"}

    org.clojars.akiel/iota
    {:mvn/version "0.1"}

    org.clojure/data.xml
    {:mvn/version "0.0.8"}

    org.clojure/test.check
    {:mvn/version "0.10.0"}

    org.clojure/tools.namespace
    {:mvn/version "0.3.1"}}

   :main-opts
   ["-m" "kaocha.runner"]}

  :clj-kondo
  {:extra-deps
   {clj-kondo
    {:mvn/version "2020.05.09"}}

   :main-opts ["-m" "clj-kondo.main"]}}}
