{:paths ["src" "resources"]

 :deps
 {blaze/admin-api
  {:local/root "modules/admin-api"}

  blaze/db-resource-store-cassandra
  {:local/root "modules/db-resource-store-cassandra"}

  blaze/db-tx-log-kafka
  {:local/root "modules/db-tx-log-kafka"}

  blaze/extern-terminology-service
  {:local/root "modules/extern-terminology-service"}

  blaze/interaction
  {:local/root "modules/interaction"}

  blaze/openid-auth
  {:local/root "modules/openid-auth"}

  blaze.operation/code-system-lookup
  {:local/root "modules/operation-code-system-lookup"}

  blaze.operation/code-system-validate-code
  {:local/root "modules/operation-code-system-validate-code"}

  blaze.operation/compact
  {:local/root "modules/operation-compact"}

  blaze.operation/graph
  {:local/root "modules/operation-graph"}

  blaze.operation/graphql
  {:local/root "modules/operation-graphql"}

  blaze.operation/measure-evaluate-measure
  {:local/root "modules/operation-measure-evaluate-measure"}

  blaze.operation/patient-everything
  {:local/root "modules/operation-patient-everything"}

  blaze.operation/patient-purge
  {:local/root "modules/operation-patient-purge"}

  blaze.operation/totals
  {:local/root "modules/operation-totals"}

  blaze.operation/value-set-expand
  {:local/root "modules/operation-value-set-expand"}

  blaze.operation/value-set-validate-code
  {:local/root "modules/operation-value-set-validate-code"}

  blaze/page-store-cassandra
  {:local/root "modules/page-store-cassandra"}

  blaze/rest-api
  {:local/root "modules/rest-api"}

  blaze/rocksdb
  {:local/root "modules/rocksdb"}

  blaze/server
  {:local/root "modules/server"}

  blaze/terminology-service
  {:local/root "modules/terminology-service"}

  blaze/thread-pool-executor-collector
  {:local/root "modules/thread-pool-executor-collector"}

  org.clojars.akiel/spec-coerce
  {:mvn/version "0.4.0"}

  org.clojure/clojure
  {:mvn/version "1.12.1"}

  org.clojure/tools.reader
  {:mvn/version "1.5.2"}

  org.slf4j/slf4j-nop
  {:mvn/version "2.0.17"}

  ;; this dependency is only here because otherwise it gets loaded concurrently
  ;; which breaks caching
  prom-metrics/prom-metrics
  {:git/url "https://github.com/alexanderkiel/prom-metrics.git"
   :git/tag "v0.6-alpha.8"
   :git/sha "45bc7368b9f6045719bc8b63ebfc82f955469da3"}}

 :aliases
 {:build
  {:deps
   {io.github.clojure/tools.build
    {:git/tag "v0.10.9" :git/sha "e405aac"}}
   :ns-default build}

  ;; For both toying at the terminal and/or use via any nREPL-aware IDE
  ;; Automatically loads Emacs' middleware.
  :emacs-repl
  {:extra-deps
   {nrepl/nrepl
    {:mvn/version "1.3.1"}

    ;; Emacs middleware below this line

    cider/cider-nrepl
    {:mvn/version "0.57.0"}

    refactor-nrepl/refactor-nrepl
    {:mvn/version "3.11.0"}

    com.billpiel/sayid
    {:mvn/version "0.1.0"}}

   :main-opts
   ["--eval" "(require 'blaze.dev) (in-ns 'blaze.dev)"
    "--main" "nrepl.cmdline"
    "--middleware" "[cider.nrepl/cider-middleware, com.billpiel.sayid.nrepl-middleware/wrap-sayid, refactor-nrepl.middleware/wrap-refactor]"
    "--interactive"]}

  :test
  {:extra-paths ["dev" "test"]

   :extra-deps
   {blaze/db-stub
    {:local/root "modules/db-stub"}

    criterium/criterium
    {:mvn/version "0.4.6"}

    org.clojure/tools.namespace
    {:mvn/version "1.5.0"}}}

  :kaocha
  {:extra-deps
   {lambdaisland/kaocha
    {:mvn/version "1.91.1392"}}

   :main-opts ["-m" "kaocha.runner"]}

  :profiling
  {:extra-paths ["profiling"]

   :extra-deps
   {org.clojure/tools.namespace
    {:mvn/version "1.5.0"}}}

  :outdated
  {:replace-deps
   {com.github.liquidz/antq
    {:mvn/version "2.11.1276"}

    org.slf4j/slf4j-nop
    {:mvn/version "2.0.17"}}

   :main-opts
   ["-m" "antq.core"
    "-d" "modules/admin-api"
    "-d" "modules/anomaly"
    "-d" "modules/async"
    "-d" "modules/byte-buffer"
    "-d" "modules/byte-string"
    "-d" "modules/cache-collector"
    "-d" "modules/cassandra"
    "-d" "modules/coll"
    "-d" "modules/cql"
    "-d" "modules/db"
    "-d" "modules/db-protocols"
    "-d" "modules/db-resource-store"
    "-d" "modules/db-resource-store-cassandra"
    "-d" "modules/db-stub"
    "-d" "modules/db-tx-log"
    "-d" "modules/db-tx-log-kafka"
    "-d" "modules/executor"
    "-d" "modules/extern-terminology-service"
    "-d" "modules/fhir-client"
    "-d" "modules/fhir-path"
    "-d" "modules/fhir-structure"
    "-d" "modules/http-client"
    "-d" "modules/interaction"
    "-d" "modules/jepsen"
    "-d" "modules/job-async-interaction"
    "-d" "modules/job-compact"
    "-d" "modules/job-re-index"
    "-d" "modules/job-scheduler"
    "-d" "modules/job-test-util"
    "-d" "modules/job-util"
    "-d" "modules/kv"
    "-d" "modules/luid"
    "-d" "modules/metrics"
    "-d" "modules/module-base"
    "-d" "modules/module-test-util"
    "-d" "modules/openid-auth"
    "-d" "modules/operation-code-system-lookup"
    "-d" "modules/operation-code-system-validate-code"
    "-d" "modules/operation-compact"
    "-d" "modules/operation-graphql"
    "-d" "modules/operation-measure-evaluate-measure"
    "-d" "modules/operation-patient-everything"
    "-d" "modules/operation-patient-purge"
    "-d" "modules/operation-totals"
    "-d" "modules/operation-value-set-expand"
    "-d" "modules/operation-value-set-validate-code"
    "-d" "modules/page-id-cipher"
    "-d" "modules/page-store"
    "-d" "modules/page-store-cassandra"
    "-d" "modules/rest-api"
    "-d" "modules/rest-util"
    "-d" "modules/rocksdb"
    "-d" "modules/scheduler"
    "-d" "modules/server"
    "-d" "modules/spec"
    "-d" "modules/terminology-service"
    "-d" "modules/test-util"
    "-d" "modules/thread-pool-executor-collector"
    "--exclude" "org.antlr/antlr4"
    "--exclude" "org.clojure/alpha.spec"
    "--exclude" "info.cqframework/cql"
    "--exclude" "info.cqframework/quick"
    "--exclude" "info.cqframework/model-jackson"
    "--exclude" "info.cqframework/elm-jackson"
    "--exclude" "info.cqframework/cql-to-elm"]}}}
