{:deps
 {aleph
  {:mvn/version "0.4.7-alpha1"
   :exclusions
   [io.netty/netty-codec
    io.netty/netty-resolver
    io.netty/netty-handler
    io.netty/netty-transport
    io.netty/netty-transport-native-epoll]}

  blaze/extern-terminology-service
  {:local/root "modules/extern-terminology-service"}

  blaze/interaction
  {:local/root "modules/interaction"}

  blaze/structure-definition
  {:local/root "modules/structure-definition"}

  buddy/buddy-auth
  {:git/url "https://github.com/alexanderkiel/buddy-auth.git"
   :sha "56c0396a6d8640ebd588f2895e5e4583dc48b903"}

  camel-snake-kebab
  {:mvn/version "0.4.0"}

  cheshire
  {:mvn/version "5.9.0"}

  com.cognitect/anomalies
  {:mvn/version "0.1.12"}

  com.datomic/datomic-free
  {:mvn/version "0.9.5697"
   :exclusions
   [io.netty/netty-all]}

  com.h2database/h2
  {:mvn/version "1.4.199"}

  com.taoensso/timbre
  {:mvn/version "4.10.0"}

  integrant
  {:mvn/version "0.7.0"}

  io.netty/netty-codec-http
  {:mvn/version "4.1.39.Final"}

  io.netty/netty-handler-proxy
  {:mvn/version "4.1.39.Final"}

  io.netty/netty-resolver-dns
  {:mvn/version "4.1.39.Final"}

  io.netty/netty-transport-native-epoll$linux-x86_64
  {:mvn/version "4.1.39.Final"}

  io.prometheus/simpleclient_hotspot
  {:mvn/version "0.6.0"}

  javax.measure/unit-api
  {:mvn/version "1.0"}

  metosin/reitit-ring
  {:mvn/version "0.3.9"}

  org.clojars.akiel/datomic-spec
  {:mvn/version "0.5.2"}

  org.clojars.akiel/datomic-tools
  {:mvn/version "0.4"}

  org.clojars.akiel/env-tools
  {:mvn/version "0.3.0"}

  org.clojars.akiel/spec-coerce
  {:mvn/version "0.4.0"}

  org.clojure/clojure
  {:mvn/version "1.10.1"}

  org.clojure/core.cache
  {:mvn/version "0.8.1"}

  org.clojure/tools.reader
  {:mvn/version "1.3.2"}

  phrase
  {:mvn/version "0.3-alpha3"}

  prom-metrics
  {:mvn/version "0.5-alpha2"}

  systems.uom/systems-ucum
  {:mvn/version "0.9"}

  systems.uom/systems-quantity
  {:mvn/version "1.0"}}

 :aliases
 {:depstar
  {:extra-deps
   {seancorfield/depstar
    {:mvn/version "0.3.3"}}}

  :check
  {:extra-deps
   {athos/clj-check
    {:git/url "https://github.com/athos/clj-check.git"
     :sha "b48d4e7000586529f81c1e29069b503b57259514"}}
   :main-opts
   ["-m" "clj-check.check"]}

  :test
  {:extra-paths ["test"]

   :extra-deps
   {lambdaisland/kaocha
    {:mvn/version "0.0-554"}

    org.clojars.akiel/iota
    {:mvn/version "0.1"}

    org.clojure/data.xml
    {:mvn/version "0.0.8"}

    org.clojure/test.check
    {:mvn/version "0.10.0"}}}}}
