{:deps
 {blaze/spec
  {:local/root "../spec"}

  blaze/util
  {:local/root "../util"}}

 :aliases
 {:test
  {:extra-paths ["test"]

   :extra-deps
   {blaze/test-util
    {:local/root "../test-util"}}}

  :kaocha
  {:extra-deps
   {lambdaisland/kaocha
    {:mvn/version "1.91.1392"}}

   :main-opts ["-m" "kaocha.runner"]}

  :test-perf
  {:extra-paths ["test-perf"]

   :extra-deps
   {criterium/criterium
    {:mvn/version "0.4.6"}}}

  :coverage
  {:extra-deps
   {lambdaisland/kaocha-cloverage
    {:mvn/version "1.1.89"}}

   :main-opts ["-m" "kaocha.runner" "--profile" "coverage"]}}}
