{:deps
 {
  ;; TODO: only needed for prepping
  blaze/fhir-structure
  {:local/root "../fhir-structure"}

  blaze/spec
  {:local/root "../spec"}

  com.google.guava/guava
  {:mvn/version "31.1-jre"}}

 :aliases
 {:test
  {:extra-paths ["test"]

   :extra-deps
   {blaze/test-util
    {:local/root "../test-util"}}}

  :kaocha
  {:extra-deps
   {lambdaisland/kaocha
    {:mvn/version "1.71.1119"}}

   :main-opts ["-m" "kaocha.runner"]}

  :test-perf
  {:extra-paths ["test-perf"]

   :extra-deps
   {criterium/criterium
    {:mvn/version "0.4.6"}}}

  :coverage
  {:extra-deps
   {cloverage/cloverage
    {:mvn/version "1.2.4"}}

   :main-opts ["-m" "cloverage.coverage" "--codecov" "-p" "src" "-s" "test"]}}}
