{:deps
 {blaze/spec
  {:local/root "../spec"}

  com.google.guava/guava
  {:mvn/version "33.4.8-jre"
   :exclusions
   [com.google.errorprone/error_prone_annotations
    com.google.guava/listenablefuture
    com.google.j2objc/j2objc-annotations
    org.jspecify/jspecify]}}

 :aliases
 {:test
  {:extra-paths ["test"]

   :extra-deps
   {blaze/test-util
    {:local/root "../test-util"}}}

  :kaocha
  {:extra-deps
   {lambdaisland/kaocha
    {:mvn/version "1.91.1392"}}

   :main-opts ["-m" "kaocha.runner"]}

  :test-perf
  {:extra-paths ["test-perf"]

   :extra-deps
   {criterium/criterium
    {:mvn/version "0.4.6"}}}

  :coverage
  {:extra-deps
   {lambdaisland/kaocha-cloverage
    {:mvn/version "1.1.89"}}

   :main-opts ["-m" "kaocha.runner" "--profile" "coverage"]}}}
