{:deps
 {blaze/async
  {:local/root "../async"}

  blaze/db
  {:local/root "../db"}

  blaze/module-base
  {:local/root "../module-base"}}

 :aliases
 {:test
  {:extra-paths ["test"]

   :extra-deps
   {blaze/fhir-test-util
    {:local/root "../fhir-test-util"}}}

  :kaocha
  {:extra-deps
   {lambdaisland/kaocha
    {:mvn/version "1.91.1392"}}

   :main-opts ["-m" "kaocha.runner"]}

  :coverage
  {:extra-deps
   {lambdaisland/kaocha-cloverage
    {:mvn/version "1.1.89"}

    ;; TODO: remove after Cloverage reflection problems are solved. https://github.com/cloverage/cloverage/issues/345
    org.clojure/clojure
    {:mvn/version "1.12.1"}}

   :main-opts ["-m" "kaocha.runner" "--profile" "coverage"]}}}
