{:paths ["src" "resources"]

 :deps
 {blaze/db
  {:local/root "../db"}

  com.fasterxml.jackson.module/jackson-module-jaxb-annotations
  {:mvn/version "2.13.0"}

  info.cqframework/cql-to-elm
  {:mvn/version "1.5.4"
   :exclusions
   [com.google.code.javaparser/javaparser
    info.cqframework/qdm
    junit/junit
    xpp3/xpp3
    xpp3/xpp3_xpath
    org.slf4j/jcl-over-slf4j
    org.slf4j/slf4j-api
    org.jvnet.jaxb2_commons/jaxb2-basics-tools]}

  javax.xml.bind/jaxb-api
  {:mvn/version "2.4.0-b180830.0359"}

  systems.uom/systems-quantity
  {:mvn/version "2.0.2"}

  systems.uom/systems-ucum
  {:mvn/version "2.0.2"}}

 :aliases
 {:test
  {:extra-paths ["test"]

   :extra-deps
   {blaze/db-stub
    {:local/root "../db-stub"}

    lambdaisland/kaocha
    {:mvn/version "1.60.945"}

    org.clojure/data.xml
    {:mvn/version "0.2.0-alpha6"}}

   :main-opts ["-m" "kaocha.runner"]}

  :test-coverage
  {:extra-paths ["test"]

   :extra-deps
   {blaze/db-stub
    {:local/root "../db-stub"}

    cloverage/cloverage
    {:mvn/version "1.2.2"}

    org.clojure/data.xml
    {:mvn/version "0.2.0-alpha6"}}

   :main-opts ["-m" "cloverage.coverage" "--codecov" "-p" "src" "-s" "test"
               "-e" ".*spec$"]}}}
