{:paths ["src"]

 :deps
 {blaze/db
  {:local/root "../db"}

  com.fasterxml.jackson.module/jackson-module-jaxb-annotations
  {:mvn/version "2.20.1"
   :exclusions [javax.xml.bind/jaxb-api]}

  com.fasterxml.jackson.dataformat/jackson-dataformat-xml
  {:mvn/version "2.20.1"}

  info.cqframework/cql-to-elm
  {:mvn/version "2.11.0"
   :exclusions
   [org.antlr/antlr4
    xpp3/xpp3
    xpp3/xpp3_xpath]}

  info.cqframework/elm-jackson
  {:mvn/version "2.11.0"
   :exclusions [org.glassfish/javax.json]}

  info.cqframework/model-jackson
  {:mvn/version "2.11.0"}

  info.cqframework/quick
  {:mvn/version "2.11.0"}

  org.apache.commons/commons-text
  {:mvn/version "1.14.0"}

  ;; this dependency is only here because otherwise it gets loaded concurrently
  ;; which breaks caching
  prom-metrics/prom-metrics
  {:git/url "https://github.com/alexanderkiel/prom-metrics.git"
   :git/tag "v0.6-alpha.8"
   :git/sha "45bc7368b9f6045719bc8b63ebfc82f955469da3"}

  systems.uom/systems-quantity
  {:mvn/version "2.2"}

  systems.uom/systems-ucum
  {:mvn/version "2.2"
   :exclusions [si.uom/si-quantity]}}

 :aliases
 {:test
  {:extra-paths ["test"]

   :extra-deps
   {blaze/db-stub
    {:local/root "../db-stub"}}}

  :test-perf
  {:extra-paths ["test-perf"]

   :extra-deps
   {criterium/criterium
    {:mvn/version "0.4.6"}}}

  :kaocha
  {:extra-deps
   {lambdaisland/kaocha
    {:mvn/version "1.91.1392"}}

   :main-opts ["-m" "kaocha.runner"]}

  :coverage
  {:extra-deps
   {lambdaisland/kaocha-cloverage
    {:mvn/version "1.1.89"}}

   :main-opts ["-m" "kaocha.runner" "--profile" "coverage"]}}}
