{:deps
 {blaze/anomaly
  {:local/root "../anomaly"}

  blaze/async
  {:local/root "../async"}

  blaze/byte-buffer
  {:local/root "../byte-buffer"}

  blaze/executor
  {:local/root "../executor"}

  blaze/fhir-structure
  {:local/root "../fhir-structure"}

  blaze/module-test-util
  {:local/root "../module-test-util"}

  com.google.crypto.tink/tink
  {:mvn/version "1.20.0"
   :exclusions
   [com.google.code.findbugs/jsr305
    com.google.errorprone/error_prone_annotations]}}}
