{:deps
 {blaze/async
  {:local/root "../async"}

  blaze/module-base
  {:local/root "../module-base"}

  blaze/spec
  {:local/root "../spec"}

  blaze/rest-util
  {:local/root "../rest-util"}

  blaze/structure-definition
  {:local/root "../structure-definition"}

  buddy/buddy-auth
  {:mvn/version "3.0.1"}

  org.clojure/data.xml
  {:mvn/version "0.2.0-alpha6"}}

 :aliases
 {:test
  {:extra-paths ["test"]

   :extra-deps
   {blaze/db-stub
    {:local/root "../db-stub"}

    lambdaisland/kaocha
    {:mvn/version "1.0.887"}}

   :main-opts ["-m" "kaocha.runner"]}

  :test-coverage
  {:extra-paths ["test"]

   :extra-deps
   {blaze/db-stub
    {:local/root "../db-stub"}

    cloverage/cloverage
    {:mvn/version "1.2.2"}}

   :main-opts ["-m" "cloverage.coverage" "--codecov" "-p" "src" "-s" "test"
               "-e" "blaze.rest-api.spec"]}}}
