{:deps
 {blaze/module-base
  {:local/root "../module-base"}

  blaze/spec
  {:local/root "../spec"}

  blaze/rest-util
  {:local/root "../rest-util"}

  blaze/structure-definition
  {:local/root "../structure-definition"}

  buddy/buddy-auth
  {:git/url "https://github.com/alexanderkiel/buddy-auth.git"
   :sha "56c0396a6d8640ebd588f2895e5e4583dc48b903"}

  cheshire
  {:mvn/version "5.9.0"}

  com.taoensso/timbre
  {:mvn/version "4.10.0"}

  integrant
  {:mvn/version "0.7.0"}

  manifold
  {:mvn/version "0.1.8"}

  org.clojars.akiel/datomic-spec
  {:mvn/version "0.5.2"}

  prom-metrics
  {:mvn/version "0.5-alpha2"}}

 :aliases
 {:test
  {:extra-paths ["test"]

   :extra-deps
   {com.datomic/datomic-free
    {:mvn/version "0.9.5697"}

    lambdaisland/kaocha
    {:mvn/version "0.0-554"}

    org.clojars.akiel/iota
    {:mvn/version "0.1"}

    org.clojure/test.check
    {:mvn/version "0.10.0"}}

   :main-opts
   ["-m" "kaocha.runner"]}}}
