{:deps
 {blaze/async
  {:local/root "../async"}

  blaze/module-base
  {:local/root "../module-base"}

  blaze/spec
  {:local/root "../spec"}

  blaze/rest-util
  {:local/root "../rest-util"}

  blaze/structure-definition
  {:local/root "../structure-definition"}

  buddy/buddy-auth
  {:mvn/version "2.2.0"}

  org.clojure/data.xml
  {:mvn/version "0.2.0-alpha6"}}

 :aliases
 {:test
  {:extra-paths ["test"]

   :extra-deps
   {lambdaisland/kaocha
    {:mvn/version "1.0.700"}

    org.clojars.akiel/iota
    {:mvn/version "0.1"}

    org.clojure/test.check
    {:mvn/version "1.1.0"}}

   :main-opts ["-m" "kaocha.runner"]}

  :test-coverage
  {:extra-paths ["test"]

   :extra-deps
   {org.clojars.akiel/cloverage
    {:mvn/version "1.2.2-SNAPSHOT"}

    org.clojars.akiel/iota
    {:mvn/version "0.1"}

    org.clojure/test.check
    {:mvn/version "1.1.0"}}

   :main-opts ["-m" "cloverage.coverage" "--codecov" "-p" "src" "-s" "test"]}}}
