{:lint-as
 {blaze.db.api-stub/with-system-data clojure.core/with-open
  blaze.module.test-util/with-system clojure.core/with-open}

 :linters
 {:unsorted-required-namespaces
  {:level :error}

  :single-key-in
  {:level :warning}

  :keyword-binding
  {:level :error}

  :redundant-str-call
  {:level :warning}}

 :skip-comments false}
