{:deps
 {blaze/fhir-client
  {:local/root "../fhir-client"}

  blaze/module-base
  {:local/root "../module-base"}

  blaze/terminology-service
  {:local/root "../terminology-service"}}

 :aliases
 {:test
  {:extra-paths ["test"]

   :extra-deps
   {blaze/fhir-test-util
    {:local/root "../fhir-test-util"}

    com.pgs-soft/HttpClientMock
    {:mvn/version "1.0.0"}}}

  :kaocha
  {:extra-deps
   {lambdaisland/kaocha
    {:mvn/version "1.91.1392"}}

   :main-opts ["-m" "kaocha.runner"]}

  :coverage
  {:extra-deps
   {cloverage/cloverage
    {:mvn/version "1.2.4"}}

   :main-opts ["-m" "cloverage.coverage" "--codecov" "-p" "src" "-s" "test"]}}}
