{:deps
 {blaze/fhir-client
  {:local/root "../fhir-client"}

  blaze/module-base
  {:local/root "../module-base"}

  blaze/terminology-service
  {:local/root "../terminology-service"}

  org.clojure/core.cache
  {:mvn/version "0.8.2"}}

 :aliases
 {:clj-kondo
  {:extra-deps
   {clj-kondo
    {:mvn/version "2020.05.09"}}

   :main-opts ["-m" "clj-kondo.main"]}}}
