{:deps
 {blaze/module-base
  {:local/root "../module-base"}

  blaze/db-resource-store
  {:local/root "../db-resource-store"}

  blaze/executor
  {:local/root "../executor"}

  com.datastax.oss/java-driver-core
  {:mvn/version "4.7.2"}}

 :aliases
 {:test
  {:extra-paths ["test"]

   :extra-deps
   {lambdaisland/kaocha
    {:mvn/version "1.0.641"}

    org.clojars.akiel/iota
    {:mvn/version "0.1"}

    org.clojure/test.check
    {:mvn/version "1.1.0"}}

   :main-opts ["-m" "kaocha.runner"]}

  :test-coverage
  {:extra-paths ["test"]

   :extra-deps
   {cloverage/cloverage
    {:mvn/version "1.2.2-SNAPSHOT"}

    org.clojars.akiel/iota
    {:mvn/version "0.1"}}

   :main-opts ["-m" "cloverage.coverage" "--codecov" "-p" "src" "-s" "test"]}}}
