{:deps
 {com.google.protobuf/protobuf-java
  {:mvn/version "3.24.4"}}

 :aliases
 {:test
  {:extra-paths ["test"]

   :extra-deps
   {blaze/test-util
    {:local/root "../test-util"}}}

  :kaocha
  {:extra-deps
   {lambdaisland/kaocha
    {:mvn/version "1.87.1366"}}

   :main-opts ["-m" "kaocha.runner"]}}}
