{:deps
 {blaze/fhir-structure
  {:local/root "../fhir-structure"}

  com.google.guava/guava
  {:mvn/version "29.0-jre"}}

 :aliases
 {:test
  {:extra-paths ["test"]

   :extra-deps
   {lambdaisland/kaocha
    {:mvn/version "1.0.641"}}

   :main-opts ["-m" "kaocha.runner"]}

  :test-coverage
  {:extra-paths ["test"]

   :extra-deps
   {cloverage/cloverage
    {:mvn/version "1.2.0"}}

   :main-opts ["-m" "cloverage.coverage" "--codecov" "-p" "src" "-s" "test"]}}}
