{:paths ["src" "resources"]

 :deps
 {blaze/db
  {:local/root "../db"}

  blaze/luid
  {:local/root "../luid"}

  blaze/job-util
  {:local/root "../job-util"}

  blaze/module-base
  {:local/root "../module-base"}}

 :deps/prep-lib
 {:alias :build
  :fn copy-profiles
  :ensure "resources/blaze/job_scheduler"}

 :aliases
 {:build
  {:deps
   {io.github.clojure/tools.build
    {:git/tag "v0.10.6" :git/sha "52cf7d6"}}
   :ns-default build}

  :test
  {:extra-paths ["test"]

   :extra-deps
   {blaze/db-stub
    {:local/root "../db-stub"}

    blaze/job-test-util
    {:local/root "../job-test-util"}}}

  :kaocha
  {:extra-deps
   {lambdaisland/kaocha
    {:mvn/version "1.91.1392"}}

   :main-opts ["-m" "kaocha.runner"]}

  :coverage
  {:extra-deps
   {lambdaisland/kaocha-cloverage
    {:mvn/version "1.1.89"}}

   :main-opts ["-m" "kaocha.runner" "--profile" "coverage"]}}}
