{:paths ["src" "resources"]

 :deps
 {blaze/coll
  {:local/root "../coll"}

  blaze/db-protocols
  {:local/root "../db-protocols"}

  blaze/fhir-path
  {:local/root "../fhir-path"}

  blaze/module-base
  {:local/root "../module-base"}}

 :aliases
 {:test
  {:extra-paths ["test"]

   :extra-deps
   {lambdaisland/kaocha
    {:mvn/version "1.60.977"}

    org.clojars.akiel/iota
    {:mvn/version "0.1"}}

   :main-opts ["-m" "kaocha.runner"]}

  :test-coverage
  {:extra-paths ["test"]

   :extra-deps
   {cloverage/cloverage
    {:mvn/version "1.2.2"}

    org.clojars.akiel/iota
    {:mvn/version "0.1"}}

   :main-opts ["-m" "cloverage.coverage" "--codecov" "-p" "src" "-s" "test"]}}}
