{:lint-as
 {blaze.anomaly/when-ok clojure.core/let
  blaze.anomaly/if-ok clojure.core/let
  blaze.anomaly/if-failed clojure.core/let
  prometheus.alpha/defcounter clojure.core/def
  prometheus.alpha/defhistogram clojure.core/def
  clojure.test.check.properties/for-all clojure.core/let
  blaze.db.impl.db/with-open-coll clojure.core/let}

 :linters
 {:unresolved-var
  {:exclude
   [clojure.spec.gen.alpha/int]}

  :unsorted-required-namespaces
  {:level :error}

  :single-key-in
  {:level :warning}}

 :skip-comments true}
