{:config-paths
 ["../../../.clj-kondo/root"
  "../../anomaly/resources/clj-kondo.exports/blaze/anomaly"
  "../../async/resources/clj-kondo.exports/blaze/async"
  "../../coll/resources/clj-kondo.exports/blaze/coll"
  "../../module-base/resources/clj-kondo.exports/prom-metrics/prom-metrics"
  "../../module-test-util/resources/clj-kondo.exports/blaze/module-test-util"]

 :lint-as
 {blaze.db.api-test/with-open-db clojure.core/with-open
  blaze.db.api-test-perf/with-system-data clojure.core/with-open
  blaze.db.test-util/with-system-data clojure.core/with-open
  blaze.db.api-test/forv clojure.core/for}

 :linters
 {:unresolved-var
  {:exclude
   [clojure.spec.gen.alpha/int]}

  :consistent-alias
  {:aliases
   {blaze.db.impl.index.index-handle ih
    blaze.db.impl.index.rts-as-of rts
    blaze.db.impl.protocols p
    blaze.db.node.tx-indexer.expand expand
    blaze.db.node.tx-indexer.verify verify}}}}
