{:paths ["src" "resources"]

 :deps
 {blaze/job-scheduler
  {:local/root "../job-scheduler"}

  blaze/module-base
  {:local/root "../module-base"}

  blaze/rest-util
  {:local/root "../rest-util"}}

 :deps/prep-lib
 {:alias :build
  :fn copy-profiles
  :ensure "resources/blaze/job/async_interaction"}

 :aliases
 {:build
  {:deps
   {io.github.clojure/tools.build
    {:git/tag "v0.10.10" :git/sha "deedd62"}}
   :ns-default build}

  :test
  {:extra-paths ["test"]

   :extra-deps
   {blaze/db-stub
    {:local/root "../db-stub"}

    blaze/job-test-util
    {:local/root "../job-test-util"}}}

  :kaocha
  {:extra-deps
   {lambdaisland/kaocha
    {:mvn/version "1.91.1392"}}

   :main-opts ["-m" "kaocha.runner"]}

  :coverage
  {:extra-deps
   {lambdaisland/kaocha-cloverage
    {:mvn/version "1.1.89"}}

   :main-opts ["-m" "kaocha.runner" "--profile" "coverage"]}}}
