{:paths ["src" "resources"]

 :deps
 {blaze/anomaly
  {:local/root "../anomaly"}

  blaze/async
  {:local/root "../async"}

  blaze/test-util
  {:local/root "../test-util"}

  integrant/integrant
  {:mvn/version "1.0.1"}}}
