{:lint-as
 {blaze.test-util/with-system clojure.core/with-open}

 :linters
 {:unsorted-required-namespaces
  {:level :error}

  :single-key-in
  {:level :warning}

  :keyword-binding
  {:level :error}

  :reduce-without-init
  {:level :warning}}

 :skip-comments true}
