{:deps
 {blaze/executor
  {:local/root "../executor"}

  blaze/module-base
  {:local/root "../module-base"}

  blaze/rest-util
  {:local/root "../rest-util"}

  blaze/spec
  {:local/root "../spec"}}

 :aliases
 {:test
  {:extra-paths ["test"]

   :extra-deps
   {blaze/datomic-test-util
    {:local/root "../datomic-test-util"}

    lambdaisland/kaocha
    {:mvn/version "0.0-565"}

    org.clojars.akiel/iota
    {:mvn/version "0.1"}

    org.clojure/test.check
    {:mvn/version "0.10.0"}}

   :main-opts
   ["-m" "kaocha.runner"]}}}
