{:deps
 {blaze/executor
  {:local/root "../executor"}

  blaze/module-base
  {:local/root "../module-base"}

  blaze/rest-util
  {:local/root "../rest-util"}

  blaze/spec
  {:local/root "../spec"}}

 :aliases
 {:test
  {:extra-paths ["test"]

   :extra-deps
   {blaze/db-stub
    {:local/root "../db-stub"}

    lambdaisland/kaocha
    {:mvn/version "0.0-590"}

    org.clojars.akiel/iota
    {:mvn/version "0.1"}

    org.clojure/test.check
    {:mvn/version "0.10.0"}}

   :main-opts
   ["-m" "kaocha.runner"]}

  :clj-kondo
  {:extra-deps
   {clj-kondo
    {:mvn/version "2020.05.09"}}

   :main-opts ["-m" "clj-kondo.main"]}}}
