{:deps
 {blaze/anomaly
  {:local/root "../anomaly"}

  blaze/executor
  {:local/root "../executor"}

  blaze/module-base
  {:local/root "../module-base"}

  blaze/structure-definition
  {:local/root "../structure-definition"}

  blaze/terminology-service
  {:local/root "../terminology-service"}

  com.datomic/datomic-free
  {:mvn/version "0.9.5697"
   :exclusions
   [io.netty/netty-all]}

  funcool/cuerdas
  {:mvn/version "2.2.1"}

  org.clojars.akiel/datomic-spec
  {:mvn/version "0.5.2"}

  org.clojars.akiel/datomic-tools
  {:mvn/version "0.4"}}

 :aliases
 {:test
  {:extra-paths ["test"]

   :extra-deps
   {blaze/datomic-test-util
    {:local/root "../datomic-test-util"}

    criterium
    {:mvn/version "0.4.5"}

    lambdaisland/kaocha
    {:mvn/version "0.0-565"}

    org.clojars.akiel/iota
    {:mvn/version "0.1"}

    org.clojure/data.xml
    {:mvn/version "0.0.8"}

    org.clojure/test.check
    {:mvn/version "0.10.0"}}

   :main-opts
   ["-m" "kaocha.runner"]}}}
