{:deps
 {blaze/async
  {:local/root "../async"}

  blaze/db-resource-store
  {:local/root "../db-resource-store"}

  blaze/fhir-structure
  {:local/root "../fhir-structure"}

  blaze/spec
  {:local/root "../spec"}}

 :aliases
 {:test
  {:extra-paths ["test"]

   :extra-deps
   {blaze/test-util
    {:local/root "../test-util"}

    lambdaisland/kaocha
    {:mvn/version "1.65.1029"}}

   :main-opts ["-m" "kaocha.runner"]}

  :test-coverage
  {:extra-paths ["test"]

   :extra-deps
   {blaze/test-util
    {:local/root "../test-util"}

    cloverage/cloverage
    {:mvn/version "1.2.3"}}

   :main-opts ["-m" "cloverage.coverage" "--codecov" "-p" "src" "-s" "test"]}}}
