{:deps
 {aleph
  {:mvn/version "0.4.7-alpha1"
   :exclusions
   [io.netty/netty-codec
    io.netty/netty-resolver
    io.netty/netty-handler
    io.netty/netty-transport
    io.netty/netty-transport-native-epoll]}

  blaze/module-base
  {:local/root "../module-base"}

  cheshire
  {:mvn/version "5.9.0"}

  io.netty/netty-codec-http
  {:mvn/version "4.1.49.Final"}

  io.netty/netty-handler-proxy
  {:mvn/version "4.1.49.Final"}

  io.netty/netty-resolver-dns
  {:mvn/version "4.1.49.Final"}

  io.netty/netty-transport-native-epoll$linux-x86_64
  {:mvn/version "4.1.49.Final"}}

 :aliases
 {:clj-kondo
  {:extra-deps
   {clj-kondo
    {:mvn/version "2020.05.09"}}

   :main-opts ["-m" "clj-kondo.main"]}}}
