{:deps
 {blaze/async
  {:local/root "../async"}

  blaze/byte-buffer
  {:local/root "../byte-buffer"}

  blaze/http-client
  {:local/root "../http-client"}

  blaze/fhir-structure
  {:local/root "../fhir-structure"}

  com.taoensso/timbre
  {:mvn/version "5.2.1"}

  hato/hato
  {:mvn/version "0.8.2"}}

 :aliases
 {:test
  {:extra-paths ["test"]

   :extra-deps
   {blaze/test-util
    {:local/root "../test-util"}

    com.pgs-soft/HttpClientMock
    {:mvn/version "1.0.0"}}}

  :kaocha
  {:extra-deps
   {lambdaisland/kaocha
    {:mvn/version "1.69.1069"}}

   :main-opts ["-m" "kaocha.runner"]}

  :coverage
  {:extra-deps
   {cloverage/cloverage
    {:mvn/version "1.2.4"}}

   :main-opts ["-m" "cloverage.coverage" "--codecov" "-p" "src" "-s" "test"]}}}
