{:deps
 {blaze/async
  {:local/root "../async"}

  blaze/db-protocols
  {:local/root "../db-protocols"}

  blaze/db-tx-log
  {:local/root "../db-tx-log"}

  blaze/metrics
  {:local/root "../metrics"}

  blaze/module-base
  {:local/root "../module-base"}

  org.apache.kafka/kafka-clients
  {:mvn/version "3.1.0"}}

 :aliases
 {:test
  {:extra-paths ["test"]

   :extra-deps
   {blaze/test-util
    {:local/root "../test-util"}

    lambdaisland/kaocha
    {:mvn/version "1.60.977"}}

   :main-opts ["-m" "kaocha.runner"]}

  :test-coverage
  {:extra-paths ["test"]

   :extra-deps
   {blaze/test-util
    {:local/root "../test-util"}

    cloverage/cloverage
    {:mvn/version "1.2.2"}}

   :main-opts ["-m" "cloverage.coverage" "--codecov" "-p" "src" "-s" "test"]}}}
