{:deps
 {blaze/async
  {:local/root "../async"}

  blaze/db-protocols
  {:local/root "../db-protocols"}

  blaze/db-tx-log
  {:local/root "../db-tx-log"}

  blaze/metrics
  {:local/root "../metrics"}

  blaze/module-base
  {:local/root "../module-base"}

  org.apache.kafka/kafka-clients
  {:mvn/version "3.4.0"}}

 :aliases
 {:test
  {:extra-paths ["test"]

   :extra-deps
   {blaze/test-util
    {:local/root "../test-util"}}}

  :kaocha
  {:extra-deps
   {lambdaisland/kaocha
    {:mvn/version "1.71.1119"}}

   :main-opts ["-m" "kaocha.runner"]}

  :coverage
  {:extra-deps
   {cloverage/cloverage
    {:mvn/version "1.2.4"}}

   :main-opts ["-m" "cloverage.coverage" "--codecov" "-p" "src" "-s" "test"]}}}
