{:paths ["src" "resources"]

 :deps
 {aysylu/loom
  {:mvn/version "1.0.2"}

  blaze/coll
  {:local/root "../coll"}

  blaze/db-protocols
  {:local/root "../db-protocols"}

  blaze/executor
  {:local/root "../executor"}

  blaze/fhir-path
  {:local/root "../fhir-path"}

  blaze/fhir-structure
  {:local/root "../fhir-structure"}

  blaze/kv
  {:local/root "../kv"}

  blaze/module-base
  {:local/root "../module-base"}

  blaze/search-param-registry
  {:local/root "../search-param-registry"}

  clj-fuzzy
  {:mvn/version "0.4.1"}

  com.taoensso/nippy
  {:mvn/version "2.14.0"}

  com.google.guava/guava
  {:mvn/version "28.2-jre"}

  com.github.ben-manes.caffeine/caffeine
  {:mvn/version "2.8.1"}

  manifold
  {:mvn/version "0.1.8"}}

 :aliases
 {:test
  {:extra-paths ["test"]

   :extra-deps
   {lambdaisland/kaocha
    {:mvn/version "1.0.632"}

    org.clojars.akiel/iota
    {:mvn/version "0.1"}

    org.clojure/test.check
    {:mvn/version "1.0.0"}

    cheshire
    {:mvn/version "5.9.0"}}

   :main-opts ["-m" "kaocha.runner"]}

  :clj-kondo
  {:extra-deps
   {clj-kondo
    {:mvn/version "2020.06.12"}}

   :main-opts ["-m" "clj-kondo.main"]}

  :unused-vars
  {:extra-deps
   {clj-kondo/tools
    {:git/url "https://github.com/borkdude/clj-kondo"
     :sha "1ed3b11025b7f3a582e6db099ba10a888fe0fc2c"
     :deps/root "analysis"}}
   :main-opts ["-m" "clj-kondo.tools.unused-vars"]}

  :namespace-graph
  {:extra-deps
   {clj-kondo/tools
    {:git/url "https://github.com/borkdude/clj-kondo"
     :sha "1ed3b11025b7f3a582e6db099ba10a888fe0fc2c"
     :deps/root "analysis"}}
   :main-opts ["-m" "clj-kondo.tools.namespace-graph"]}}}
