{:paths ["src" "resources" "java" "target/classes"]

 :deps
 {blaze/async
  {:local/root "../async"}

  blaze/byte-buffer
  {:local/root "../byte-buffer"}

  blaze/byte-string
  {:local/root "../byte-string"}

  blaze/cache-collector
  {:local/root "../cache-collector"}

  blaze/coll
  {:local/root "../coll"}

  blaze/db-protocols
  {:local/root "../db-protocols"}

  blaze/db-tx-log
  {:local/root "../db-tx-log"}

  blaze/fhir-path
  {:local/root "../fhir-path"}

  blaze/kv
  {:local/root "../kv"}

  blaze/metrics
  {:local/root "../metrics"}

  blaze/module-base
  {:local/root "../module-base"}

  blaze/db-resource-store
  {:local/root "../db-resource-store"}

  blaze/scheduler
  {:local/root "../scheduler"}

  blaze/spec
  {:local/root "../spec"}

  commons-codec/commons-codec
  {:mvn/version "1.19.0"}}

 :deps/prep-lib
 {:alias :build
  :fn all
  :ensure "target/classes"}

 :aliases
 {:build
  {:deps
   {io.github.clojure/tools.build
    {:git/tag "v0.10.9" :git/sha "e405aac"}}
   :ns-default build}

  :test
  {:extra-paths ["test"]

   :extra-deps
   {blaze/fhir-test-util
    {:local/root "../fhir-test-util"}}}

  :kaocha
  {:extra-deps
   {lambdaisland/kaocha
    {:mvn/version "1.91.1392"}}

   :main-opts ["-m" "kaocha.runner"]}

  :test-perf
  {:extra-paths ["test-perf"]

   :extra-deps
   {blaze/fhir-test-util
    {:local/root "../fhir-test-util"}

    criterium/criterium
    {:mvn/version "0.4.6"}

    org.openjdk.jol/jol-core
    {:mvn/version "0.17"}}}

  :coverage
  {:extra-deps
   {lambdaisland/kaocha-cloverage
    {:mvn/version "1.1.89"}}

   :main-opts ["-m" "kaocha.runner" "--profile" "coverage"]}}}
