{:lint-as
 {blaze.anomaly/when-ok clojure.core/let
  blaze.db.kv.rocksdb-test/with-system-data clojure.core/with-open
  blaze.module.test-util/with-system clojure.core/with-open}

 :linters
 {:unsorted-required-namespaces
  {:level :error}

  :single-key-in
  {:level :warning}

  :keyword-binding
  {:level :error}

  :reduce-without-init
  {:level :warning}

  :warn-on-reflection
  {:level :warning :warn-only-on-interop true}

  :consistent-alias
  {:aliases
   {blaze.db.kv.rocksdb.protocols p
    cognitect.anomalies anom}}}

 :skip-comments true}
