{:config-paths
 ["../../../.clj-kondo/root"
  "../../anomaly/resources/clj-kondo.exports/blaze/anomaly"
  "../../db-stub/resources/clj-kondo.exports/blaze/db-stub"
  "../../module-test-util/resources/clj-kondo.exports/blaze/module-test-util"]

 :lint-as
 {blaze.fhir.operation.graphql-test/with-handler clojure.core/fn}}
