{:lint-as
 {blaze.anomaly/when-ok clojure.core/let
  blaze.fhir.operation.graphql-test/with-handler clojure.core/fn
  blaze.test-util/with-system clojure.core/with-open}

 :linters
 {:unsorted-required-namespaces
  {:level :error}

  :single-key-in
  {:level :warning}

  :keyword-binding
  {:level :error}

  :reduce-without-init
  {:level :warning}

  :warn-on-reflection
  {:level :warning :warn-only-on-interop true}}

 :skip-comments true}
