{:deps
 {blaze/async
  {:local/root "../async"}

  blaze/util
  {:local/root "../util"}

  com.datastax.oss/java-driver-core
  {:mvn/version "4.17.0"
   :exclusions [com.github.spotbugs/spotbugs-annotations]}

  ;; current version of transitive dependency of com.datastax.oss/java-driver-core
  com.fasterxml.jackson.core/jackson-databind
  {:mvn/version "2.20.1"}

  ;; current version of transitive dependency of com.datastax.oss/java-driver-core
  io.netty/netty-handler
  {:mvn/version "4.2.9.Final"}}

 :aliases
 {:test
  {:extra-paths ["test"]

   :extra-deps
   {blaze/test-util
    {:local/root "../test-util"}}}

  :kaocha
  {:extra-deps
   {lambdaisland/kaocha
    {:mvn/version "1.91.1392"}}

   :main-opts ["-m" "kaocha.runner"]}

  :coverage
  {:extra-deps
   {lambdaisland/kaocha-cloverage
    {:mvn/version "1.1.89"}}

   :main-opts ["-m" "kaocha.runner" "--profile" "coverage"]}}}
