{:lint-as
 {blaze.fhir.spec.type.macros/defprimitivetype clojure.core/deftype
  blaze.test-util/with-system clojure.core/with-open}

 :hooks
 {:macroexpand
  {blaze.fhir.spec.type.macros/defcomplextype macros/defcomplextype}}

 :linters
 {:unsorted-required-namespaces
  {:level :error}

  :single-key-in
  {:level :warning}

  :keyword-binding
  {:level :error}

  :unresolved-namespace
  {:exclude [f xhtml]}

  :redefined-var
  {:level :off}

  :reduce-without-init
  {:level :warning}}

 :skip-comments true}
