{:config-paths
 ["../../../.clj-kondo/root"
  "../../module-test-util/resources/clj-kondo.exports/blaze/module-test-util"]

 :lint-as
 {blaze.fhir.spec.generators/def-resource-gen clojure.core/def
  blaze.fhir.spec.type.macros/def-primitive-type clojure.core/deftype
  blaze.fhir.spec.type.macros/defextended clojure.core/defrecord}

 :hooks
 {:macroexpand
  {blaze.fhir.spec.type.macros/def-complex-type macros/def-complex-type}}

 :linters
 {:unresolved-namespace
  {:exclude [f xhtml]}

  :redefined-var
  {:level :off}

  :unused-private-var
  {:exclude [blaze.fhir.spec.type/at-utc]}

  :unresolved-symbol
  {:exclude [(blaze.fhir.spec.generators/def-resource-gen)]}}

 :exclude-files "src/blaze/fhir/spec/type.clj"}
