{:linters
 {:unsorted-required-namespaces
  {:level :error}
  :single-key-in
  {:level :warning}
  :unresolved-namespace
  {:exclude [f xhtml]}
  :redefined-var
  {:level :off}}

 :skip-comments true}
