{:lint-as
 {blaze.async.comp/do-sync clojure.core/let
  blaze.db.api-stub/with-system-data clojure.core/with-open
  blaze.test-util/with-system clojure.core/with-open}

 :linters
 {:unsorted-required-namespaces
  {:level :error}

  :single-key-in
  {:level :warning}

  :keyword-binding
  {:level :error}

  :reduce-without-init
  {:level :warning}

  :warn-on-reflection
  {:level :warning :warn-only-on-interop true}}

 :skip-comments true}
