{:lint-as
 {blaze.db.api-stub/with-system-data clojure.core/with-open
  blaze.test-util/with-system clojure.core/with-open
  prometheus.alpha/defcounter clojure.core/def
  prometheus.alpha/defhistogram clojure.core/def}

 :linters
 {:unsorted-required-namespaces
  {:level :error}
  :single-key-in
  {:level :warning}}

 :skip-comments true}
