{:deps
 {blaze/metrics
  {:local/root "../metrics"}

  blaze/module-base
  {:local/root "../module-base"}

  com.github.ben-manes.caffeine/caffeine
  {:mvn/version "3.2.2"
   :exclusions
   [org.jspecify/jspecify
    com.google.errorprone/error_prone_annotations]}}

 :aliases
 {:test
  {:extra-paths ["test"]

   :extra-deps
   {blaze/module-test-util
    {:local/root "../module-test-util"}}}

  :kaocha
  {:extra-deps
   {lambdaisland/kaocha
    {:mvn/version "1.91.1392"}}

   :main-opts ["-m" "kaocha.runner"]}

  :test-perf
  {:extra-paths ["test-perf"]

   :extra-deps
   {blaze/fhir-test-util
    {:local/root "../fhir-test-util"}

    criterium/criterium
    {:mvn/version "0.4.6"}

    org.openjdk.jol/jol-core
    {:mvn/version "0.17"}}}

  :coverage
  {:extra-deps
   {lambdaisland/kaocha-cloverage
    {:mvn/version "1.1.89"}}

   :main-opts ["-m" "kaocha.runner" "--profile" "coverage"]}}}
