{:paths ["src" "resources"]

 :deps
 {blaze/spec
  {:local/root "../spec"}

  org.clj-commons/pretty
  {:mvn/version "3.6.8"}}

 :aliases
 {:test
  {:extra-paths ["test"]

   :extra-deps
   {blaze/test-util
    {:local/root "../test-util"}}}

  :kaocha
  {:extra-deps
   {lambdaisland/kaocha
    {:mvn/version "1.91.1392"}}

   :main-opts ["-m" "kaocha.runner"]}

  :coverage
  {:extra-deps
   {lambdaisland/kaocha-cloverage
    {:mvn/version "1.1.89"}}

   :main-opts ["-m" "kaocha.runner" "--profile" "coverage"]}}}
