{:deps
 {blaze/spec
  {:local/root "../spec"}

  com.cognitect/anomalies
  {:mvn/version "0.1.12"}}

 :aliases
 {:test
  {:extra-paths ["test"]

   :extra-deps
   {blaze/test-util
    {:local/root "../test-util"}}}

  :kaocha
  {:extra-deps
   {lambdaisland/kaocha
    {:mvn/version "1.66.1034"}}

   :main-opts ["-m" "kaocha.runner"]}

  :coverage
  {:extra-deps
   {cloverage/cloverage
    {:mvn/version "1.2.4"}}

   :main-opts ["-m" "cloverage.coverage" "--codecov" "-p" "src" "-s" "test"]}}}
