{:lint-as
 {manifold.deferred/let-flow clojure.core/let
  manifold.deferred/let-flow' clojure.core/let}

 :linters
 {:unsorted-required-namespaces
  {:level :error}
  :single-key-in
  {:level :warning}}

 :skip-comments true}
