{:paths ["src" "resources"]

 :deps
 {blaze/anomaly
  {:local/root "../anomaly"}

  blaze/byte-string
  {:local/root "../byte-string"}

  clojure.java-time/clojure.java-time
  {:mvn/version "0.3.3"}

  com.github.ben-manes.caffeine/caffeine
  {:mvn/version "3.0.4"}

  com.google.guava/guava
  {:mvn/version "30.1.1-jre"}

  com.fasterxml.jackson.core/jackson-core
  {:mvn/version "2.12.5"}

  com.fasterxml.jackson.dataformat/jackson-dataformat-cbor
  {:mvn/version "2.12.5"}

  com.fasterxml.jackson.dataformat/jackson-dataformat-smile
  {:mvn/version "2.12.5"}

  com.taoensso/timbre
  {:mvn/version "5.1.2"}

  funcool/cuerdas
  {:mvn/version "2021.05.29-0"}

  metosin/jsonista
  {:mvn/version "0.3.4"}

  org.clojure/alpha.spec
  {:git/url "https://github.com/alexanderkiel/spec-alpha2.git"
   :git/sha "5c86612d50ab523e48a3937d9d437116a1964bd6"}

  org.clojure/data.xml
  {:mvn/version "0.2.0-alpha6"}}

 :aliases
 {:test
  {:extra-paths ["test"]

   :extra-deps
   {blaze/test-util
    {:local/root "../test-util"}

    criterium/criterium
    {:mvn/version "0.4.6"}

    lambdaisland/kaocha
    {:mvn/version "1.0.902"}

    org.openjdk.jol/jol-core
    {:mvn/version "0.16"}}

   :main-opts
   ["-m" "kaocha.runner"]}

  :test-coverage
  {:extra-paths ["test"]

   :extra-deps
   {blaze/test-util
    {:local/root "../test-util"}

    cloverage/cloverage
    {:mvn/version "1.2.2"}

    org.openjdk.jol/jol-core
    {:mvn/version "0.16"}}

   :main-opts ["-m" "cloverage.coverage" "--codecov" "-p" "src" "-s" "test"]}}}
