{:paths ["src" "resources" "java" "target/classes"]

 :deps
 {blaze/byte-buffer
  {:local/root "../byte-buffer"}

  blaze/byte-string
  {:local/root "../byte-string"}

  blaze/coll
  {:local/root "../coll"}

  blaze/module-base
  {:local/root "../module-base"}

  com.fasterxml.jackson.dataformat/jackson-dataformat-cbor
  {:mvn/version "2.20.0"}

  com.fasterxml.jackson.dataformat/jackson-dataformat-xml
  {:mvn/version "2.20.0"}

  metosin/jsonista
  {:mvn/version "0.3.13"}

  org.clojure/alpha.spec
  {:git/url "https://github.com/alexanderkiel/spec-alpha2.git"
   :git/sha "5c86612d50ab523e48a3937d9d437116a1964bd6"}

  org.clojure/data.xml
  {:mvn/version "0.2.0-alpha9"}}

 :deps/prep-lib
 {:alias :build
  :fn compile
  :ensure "target/classes"}

 :aliases
 {:build
  {:deps
   {io.github.clojure/tools.build
    {:git/tag "v0.10.10" :git/sha "deedd62"}}
   :ns-default build}

  :test
  {:extra-paths ["test"]

   :extra-deps
   {blaze/executor
    {:local/root "../executor"}

    blaze/fhir-test-util
    {:local/root "../fhir-test-util"}}}

  :kaocha
  {:extra-deps
   {lambdaisland/kaocha
    {:mvn/version "1.91.1392"}}

   :main-opts ["-m" "kaocha.runner"]}

  :test-perf
  {:extra-paths ["test-perf"]

   :extra-deps
   {blaze/fhir-test-util
    {:local/root "../fhir-test-util"}

    criterium/criterium
    {:mvn/version "0.4.6"}

    org.openjdk.jol/jol-core
    {:mvn/version "0.17"}}}

  :coverage
  {:extra-deps
   {lambdaisland/kaocha-cloverage
    {:mvn/version "1.1.89"}}

   :main-opts ["-m" "kaocha.runner" "--profile" "coverage"]}}}
