{:deps
 {blaze/anomaly
  {:local/root "../anomaly"}

  integrant/integrant
  {:git/url "https://github.com/weavejester/integrant.git"
   :sha "32a46f5dca8a6b563a6dddf88bec887be3201b08"}

  org.clojars.akiel/iota
  {:mvn/version "0.1"}

  org.clojure/test.check
  {:mvn/version "1.1.0"}}}
