{:deps
 {com.google.guava/guava
  {:mvn/version "33.3.1-jre"
   :exclusions
   [com.google.code.findbugs/jsr305
    org.checkerframework/checker-qual
    com.google.errorprone/error_prone_annotations
    com.google.j2objc/j2objc-annotations]}

  com.taoensso/timbre
  {:mvn/version "6.6.0"}

  org.clojars.akiel/iota
  {:mvn/version "0.1"}

  org.clojure/test.check
  {:mvn/version "1.1.1"}

  org.slf4j/slf4j-nop
  {:mvn/version "2.0.16"}}}
