{:paths ["src" "resources"]

 :deps
 {com.google.guava/guava
  {:mvn/version "31.0.1-jre"}

  com.google.protobuf/protobuf-java
  {:mvn/version "3.18.0"}

  com.fasterxml.jackson.core/jackson-databind
  {:mvn/version "2.13.0"}}}
