{:paths ["src"]

 :deps
 {com.google.guava/guava
  {:mvn/version "31.1-jre"}

  com.google.protobuf/protobuf-java
  {:mvn/version "3.21.10"}

  com.fasterxml.jackson.core/jackson-databind
  {:mvn/version "2.14.1"}}}
