{:deps
 {blaze/module-base
  {:local/root "../module-base"}

  com.google.guava/guava
  {:mvn/version "31.0.1-jre"}}

 :aliases
 {:test
  {:extra-paths ["test"]

   :extra-deps
   {blaze/test-util
    {:local/root "../test-util"}

    lambdaisland/kaocha
    {:mvn/version "1.0.902"}}

   :main-opts ["-m" "kaocha.runner"]}

  :test-coverage
  {:extra-paths ["test"]

   :extra-deps
   {blaze/test-util
    {:local/root "../test-util"}

    cloverage/cloverage
    {:mvn/version "1.2.2"}}

   :main-opts ["-m" "cloverage.coverage" "--codecov" "-p" "src" "-s" "test"]}}}
