{:deps
 {blaze/module-base
  {:local/root "../module-base"}

  buddy/buddy-auth
  {:mvn/version "2.2.0"}

  buddy/buddy-sign
  {:mvn/version "3.3.0"}

  metosin/jsonista
  {:mvn/version "0.3.1"}

  funcool/cuerdas
  {:mvn/version "2020.03.26-3"}}

 :aliases
 {:test
  {:extra-paths ["test"]

   :extra-deps
   {lambdaisland/kaocha
    {:mvn/version "1.0.732"}

    org.clojure/test.check
    {:mvn/version "1.1.0"}}

   :main-opts ["-m" "kaocha.runner"]}

  :test-coverage
  {:extra-paths ["test"]

   :extra-deps
   {org.clojars.akiel/cloverage
    {:mvn/version "1.2.2-SNAPSHOT"}

    org.clojure/test.check
    {:mvn/version "1.1.0"}}

   :main-opts ["-m" "cloverage.coverage" "--codecov" "-p" "src" "-s" "test"]}}}
