{:deps
 {blaze/http-client
  {:local/root "../http-client"}

  blaze/module-base
  {:local/root "../module-base"}

  blaze/scheduler
  {:local/root "../scheduler"}

  buddy/buddy-auth
  {:mvn/version "3.0.1"}

  buddy/buddy-sign
  {:mvn/version "3.4.1"}}

 :aliases
 {:test
  {:extra-paths ["test"]

   :extra-deps
   {com.pgs-soft/HttpClientMock
    {:mvn/version "1.0.0"}

    lambdaisland/kaocha
    {:mvn/version "1.0.861"}

    org.clojars.akiel/iota
    {:mvn/version "0.1"}}

   :main-opts ["-m" "kaocha.runner"]}

  :test-coverage
  {:extra-paths ["test"]

   :extra-deps
   {com.pgs-soft/HttpClientMock
    {:mvn/version "1.0.0"}

    org.clojars.akiel/cloverage
    {:mvn/version "1.2.2-SNAPSHOT"}

    org.clojars.akiel/iota
    {:mvn/version "0.1"}}

   :main-opts ["-m" "cloverage.coverage" "--codecov" "-p" "src" "-s" "test"]}}}
