{:deps
 {blaze/module-base
  {:local/root "../module-base"}

  buddy/buddy-auth
  {:git/url "https://github.com/alexanderkiel/buddy-auth.git"
   :sha "56c0396a6d8640ebd588f2895e5e4583dc48b903"}

  cheshire/cheshire
  {:mvn/version "5.10.0"}}

 :aliases
 {:test
  {:extra-paths ["test"]

   :extra-deps
   {lambdaisland/kaocha
    {:mvn/version "1.0.641"}

    org.clojure/test.check
    {:mvn/version "1.1.0"}}

   :main-opts ["-m" "kaocha.runner"]}

  :test-coverage
  {:extra-paths ["test"]

   :extra-deps
   {cloverage/cloverage
    {:mvn/version "1.2.2-SNAPSHOT"}

    org.clojure/test.check
    {:mvn/version "1.1.0"}}

   :main-opts ["-m" "cloverage.coverage" "--codecov" "-p" "src" "-s" "test"]}}}
