{:lint-as
 {blaze.anomaly/when-ok clojure.core/let
  prometheus.alpha/defhistogram clojure.core/def}

 :linters
 {:unsorted-required-namespaces
  {:level :error}
  :single-key-in
  {:level :warning}}

 :skip-comments true}
