{:paths ["src" "resources"]

 :deps
 {blaze/anomaly
  {:local/root "../anomaly"}

  com.taoensso/timbre
  {:mvn/version "6.6.1"}

  com.google.guava/guava
  {:mvn/version "33.4.7-android"
   :exclusions
   [com.google.code.findbugs/jsr305
    org.checkerframework/checker-qual
    com.google.errorprone/error_prone_annotations
    com.google.j2objc/j2objc-annotations]}

  integrant/integrant
  {:mvn/version "0.13.1"}

  prom-metrics/prom-metrics
  {:mvn/version "0.6-alpha.7"}}

 :aliases
 {:test
  {:extra-paths ["test"]

   :extra-deps
   {blaze/test-util
    {:local/root "../test-util"}}}

  :kaocha
  {:extra-deps
   {lambdaisland/kaocha
    {:mvn/version "1.91.1392"}}

   :main-opts ["-m" "kaocha.runner"]}

  :coverage
  {:extra-deps
   {lambdaisland/kaocha-cloverage
    {:mvn/version "1.1.89"}}

   :main-opts ["-m" "kaocha.runner" "--profile" "coverage"]}}}
