{:deps
 {blaze/anomaly
  {:local/root "../anomaly"}

  com.taoensso/timbre
  {:mvn/version "5.2.1"}

  integrant/integrant
  {:mvn/version "0.8.1"}

  prom-metrics/prom-metrics
  {:mvn/version "0.6-alpha.7"}}}
