{:lint-as
 {blaze.fhir.spec.generators/def-resource-gen clojure.core/def}

 :linters
 {:unsorted-required-namespaces
  {:level :error}

  :single-key-in
  {:level :warning}

  :keyword-binding
  {:level :error}

  :reduce-without-init
  {:level :warning}

  :unresolved-symbol
  {:exclude [(blaze.fhir.spec.generators/def-resource-gen)]}}

 :warn-on-reflection
 {:level :warning :warn-only-on-interop true}

 :skip-comments true}
