{:config-paths
 ["../../../.clj-kondo/root"]

 :lint-as
 {blaze.fhir.spec.generators/def-resource-gen clojure.core/def}

 :linters
 {:unresolved-symbol
  {:exclude [(blaze.fhir.spec.generators/def-resource-gen)]}}}
