{:lint-as
 {blaze.admin-api-test/with-handler clojure.core/fn
  blaze.anomaly/if-ok clojure.core/let}

 :linters
 {:unsorted-required-namespaces
  {:level :error}

  :single-key-in
  {:level :warning}

  :keyword-binding
  {:level :error}

  :reduce-without-init
  {:level :warning}

  :warn-on-reflection
  {:level :warning :warn-only-on-interop true}

  :consistent-alias
  {:aliases
   {blaze.async.comp ac
    blaze.db.kv.rocksdb rocksdb
    blaze.elm.expression.cache ec
    clojure.spec.alpha s
    cognitect.anomalies anom
    integrant.core ig
    ring.util.response ring
    taoensso.timbre log}}}

 :skip-comments true}
