{:config-paths
 ["../../../.clj-kondo/root"
  "../../anomaly/resources/clj-kondo.exports/blaze/anomaly"
  "../../async/resources/clj-kondo.exports/blaze/async"
  "../../db-stub/resources/clj-kondo.exports/blaze/db-stub"
  "../../module-base/resources/clj-kondo.exports/prom-metrics/prom-metrics"
  "../../module-test-util/resources/clj-kondo.exports/blaze/module-test-util"]

 :lint-as
 {blaze.interaction.create-test/with-handler clojure.core/fn
  blaze.interaction.delete-test/with-handler clojure.core/fn
  blaze.interaction.delete-history-test/with-handler clojure.core/fn
  blaze.interaction.conditional-delete-type-test/with-handler clojure.core/fn
  blaze.interaction.conditional-delete-type-test/with-handler-allow-multiple clojure.core/fn
  blaze.interaction.history.instance-test/with-handler clojure.core/fn
  blaze.interaction.history.system-test/with-handler clojure.core/fn
  blaze.interaction.history.type-test/with-handler clojure.core/fn
  blaze.interaction.read-test/with-handler clojure.core/fn
  blaze.interaction.vread-test/with-handler clojure.core/fn
  blaze.interaction.search-compartment-test/with-handler clojure.core/fn
  blaze.interaction.search-system-test/with-handler clojure.core/fn
  blaze.interaction.search-type-test/with-handler clojure.core/fn
  blaze.interaction.transaction-test/with-handler clojure.core/fn
  blaze.interaction.update-test/with-handler clojure.core/fn}}
