{:lint-as
 {blaze.anomaly/when-ok clojure.core/let
  blaze.anomaly/if-ok clojure.core/let
  blaze.async.comp/do-sync clojure.core/let
  blaze.db.api-stub/with-system-data clojure.core/with-open
  blaze.interaction.create-test/with-handler clojure.core/fn
  blaze.interaction.delete-test/with-handler clojure.core/fn
  blaze.interaction.history.instance-test/with-handler clojure.core/fn
  blaze.interaction.history.system-test/with-handler clojure.core/fn
  blaze.interaction.history.type-test/with-handler clojure.core/fn
  blaze.interaction.read-test/with-handler clojure.core/fn
  blaze.interaction.read-test/with-vread-handler clojure.core/fn
  blaze.interaction.search-compartment-test/with-handler clojure.core/fn
  blaze.interaction.search-system-test/with-handler clojure.core/fn
  blaze.interaction.search-type-test/with-handler clojure.core/fn
  blaze.interaction.transaction-test/with-handler clojure.core/fn
  blaze.interaction.update-test/with-handler clojure.core/fn
  blaze.test-util/with-system clojure.core/with-open}

 :linters
 {:unsorted-required-namespaces
  {:level :error}

  :single-key-in
  {:level :warning}

  :keyword-binding
  {:level :error}

  :reduce-without-init
  {:level :warning}

  :warn-on-reflection
  {:level :warning :warn-only-on-interop true}}

 :skip-comments true}
