{:paths ["src" "target/generated-resources"]

 :deps
 {blaze/db
  {:local/root "../db"}

  blaze/module-base
  {:local/root "../module-base"}

  blaze/terminology-service
  {:local/root "../terminology-service"}

  org.clojure/data.csv
  {:mvn/version "1.1.1"}

  metosin/muuntaja
  {:mvn/version "0.6.11"
   :exclusions [javax.xml.bind/jaxb-api]}

  org.fhir/ucum
  {:mvn/version "1.0.10"
   :exclusions [xpp3/xpp3 xpp3/xpp3_xpath]}

  ca.uhn.hapi.fhir/hapi-fhir-base
  {:mvn/version "8.8.1"}

  ca.uhn.hapi.fhir/org.hl7.fhir.r5
  {:mvn/version "6.9.7"}

  ring/ring-codec
  {:mvn/version "1.3.0"}}

 :deps/prep-lib
 {:alias :build
  :fn download-loinc
  :ensure "target/prep-done"}

 :aliases
 {:build
  {:deps
   {hato/hato
    {:mvn/version "1.0.0"}

    io.github.clojure/tools.build
    {:git/tag "v0.10.13" :git/sha "ae52edf"}}

   :ns-default build}

  :test
  {:extra-paths ["test" "test-resources"]

   :extra-deps
   {blaze/db-stub
    {:local/root "../db-stub"}}}

  :kaocha
  {:extra-deps
   {lambdaisland/kaocha
    {:mvn/version "1.91.1392"}}

   :main-opts ["-m" "kaocha.runner"]}

  :coverage
  {:extra-deps
   {lambdaisland/kaocha-cloverage
    {:mvn/version "1.1.89"}}

   :main-opts ["-m" "kaocha.runner" "--profile" "coverage"]}}}
