{:paths ["src" "resources"]

 :deps
 {blaze/module-base
  {:local/root "../module-base"}

  cheshire
  {:mvn/version "5.9.0"}}

 :aliases
 {:clj-kondo
  {:extra-deps
   {clj-kondo
    {:mvn/version "2020.05.09"}}

   :main-opts ["-m" "clj-kondo.main"]}}}
