name: Coverage

on:
  pull_request:
    branches:
    - develop

jobs:
  test-coverage:
    runs-on: ubuntu-22.04

    steps:
    - name: Setup Java
      uses: actions/setup-java@99b8673ff64fbf99d8d325f52d9a5bdedb8483e9 # v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Setup Clojure
      uses: DeLaGuardo/setup-clojure@master
      with:
        cli: '1.11.2.1446'

    - name: Check out Git repository
      uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4

    - name: Cache Local Maven Repo
      uses: actions/cache@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9 # v4
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-temurin-17-maven-test-coverage-${{ hashFiles('**/deps.edn') }}

    - name: Test Coverage
      run: make test-coverage

    - name: Codecov Upload
      uses: codecov/codecov-action@c16abc29c95fcf9174b58eb7e1abf4c866893bc8 # v4
      with:
        name: codecov-umbrella
        token: ${{ secrets.CODECOV_TOKEN }}
        file: modules/**/target/coverage/codecov.json
        fail_ci_if_error: true
