name: Docs

on:
  schedule:
  - cron: '0 10 * * *' # every day at 10am
  push:
    branches:
    - main
    tags:
    - 'v*.*.*'
  pull_request:
    branches:
    - main
  merge_group:
  workflow_dispatch:

permissions: read-all

jobs:
  build-pages:
    runs-on: ubuntu-24.04
    steps:
    - name: Check out Git repository
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

    - name: Setup Node
      uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
      with:
        node-version-file: .nvmrc
        cache: npm
        cache-dependency-path: 'docs/package-lock.json'

    - name: Install Cosign
      uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4

    - name: Collect Latest Release Information
      id: release
      env:
        GH_TOKEN: ${{ github.token }}
      run: |
        version=$(gh release view --json tagName --jq '.tagName')
        version=${version:-v0.0.0}
        echo "version=${version}" >>"$GITHUB_OUTPUT"

        digest=$(cosign verify "samply/blaze:${version#v}" \
          --certificate-identity-regexp "https://github.com/samply/blaze/.*" \
          --certificate-oidc-issuer "https://token.actions.githubusercontent.com" \
          -o json 2>/dev/null | jq -r '.[0].critical.image["docker-manifest-digest"]')
        echo "digest=${digest}" >>"$GITHUB_OUTPUT"

        frontend_digest=$(cosign verify "samply/blaze-frontend:${version#v}" \
          --certificate-identity-regexp "https://github.com/samply/blaze/.*" \
          --certificate-oidc-issuer "https://token.actions.githubusercontent.com" \
          -o json 2>/dev/null | jq -r '.[0].critical.image["docker-manifest-digest"]')
        echo "frontend_digest=${frontend_digest}" >>"$GITHUB_OUTPUT"

        cosign verify "samply/blaze:${version#v}@${digest}" \
          --certificate-identity-regexp "https://github.com/samply/blaze/.*" \
          --certificate-oidc-issuer "https://token.actions.githubusercontent.com" \
          --certificate-github-workflow-ref="refs/tags/${version}" \
          -o text >/dev/null 2>docs/cosign-verify.txt

    - name: Replace Compose Latest Tags
      env:
        RELEASE: ${{ steps.release.outputs.version }}
        DIGEST: ${{ steps.release.outputs.digest }}
        FRONTEND_DIGEST: ${{ steps.release.outputs.frontend_digest }}
      run: |
        find ./docs -type f -exec sed -i \
          -e "s|samply/blaze:latest|samply/blaze:${RELEASE#v}@${DIGEST}|g" \
          -e "s|samply/blaze-frontend:latest|samply/blaze-frontend:${RELEASE#v}@${FRONTEND_DIGEST}|g" \
        {} +

    - name: Build
      working-directory: docs
      env:
        DOCS_BASE: "/${{ github.event.repository.name }}/"
        VITE_LATEST_RELEASE: ${{ steps.release.outputs.version }}
        VITE_LATEST_DIGEST: ${{ steps.release.outputs.digest }}
        VITE_LATEST_FRONTEND_DIGEST: ${{ steps.release.outputs.frontend_digest }}
      run: make build

    - name: Setup Pages
      uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b # v5

    - name: Upload artifact
      uses: actions/upload-pages-artifact@56afc609e74202658d3ffba0e8f6dda462b719fa # v3
      with:
        path: docs/.vitepress/dist

  deploy-pages:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-24.04
    needs: [ build-pages ]
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4
